<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    </head>
    <body>
        <p th:text="|Hello, ${name}!|"></p>

        <form action="/insert" method="post">
            <input type="text" name="taskId" placeholder="Task ID" required>
            <input type="text" name="taskName" placeholder="Task Name" required>
            <button type="submit">タスク追加</button>
        </form>


        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>DeadLine</th>
                <th>PlanMinute</th>
                <th>ActualMinute</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.name}"></td>
                <td th:text="${task.deadlinedate}"></td>
                <td th:text="${task.planminute}"></td>
                <td th:text="${task.actualminute}"></td>
                <td><a th:href="@{/task/edit/{id}(id=${task.id})}">Edit</a></td>
                <td><a th:href="@{/task/delete/{id}(id=${task.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </body>
</html>